<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <style type="text/css">
        body {
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;
        }

        element.style {
            display: inline-block;
            width: 123px;
        }

        .hx,
        .im {
            color: #222222 !important;
        }
    </style>
    <div
        style="padding:50px 0;margin:0;background-color:#ececec;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji">

        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
            style="font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;color: #222222;">
            <tbody>
                <tr>
                    <td
                        style="font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;font-size:15px">
                        <table width="600" border="0" cellpadding="0" cellspacing="0"
                            style="width:600px;margin:0 auto;background-color:#fff">
                            <tbody> 
                                <tr> 
                                    <td align="center"
                                        style="text-align:center;background:#00c4ff;padding:10px 0px 10px">
                                        
                                        <a href="{{email}}"
                                            style="text-decoration:none;display:inline-block;font-weight: 700;color: #000;"
                                            target="_blank">AI Development Services
                                        </a>
                                    </td>
                                </tr>


                                <tr> 
                                    <td
                                        style="font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;padding:20px 20px">
                                        <p style="color:#000000; margin-top: 0px;"><b></b></p>
                                      <img src="https://infosense.tech/_next/static/media/logo.d34a12c6.png" style="width:30%; margin-bottom:1rem;" target='AI_Development'>
                                      <hr>
                                         <p style=" margin-top: 3rem; margin-bottom:1rem;color: #611A5F;
    font-weight: 600;">Thanks for the enquiry we have received it,</p>
                                        <p style=" margin-top: 0rem; margin-bottom:1rem;">
                                         <span style="color: #611A5F;
    font-weight: 600;">My name is Samiksha</span> , and I'm here to welcome you on behalf of Infosense, I'm CEO of Infosense, and we will be in touch with you shortly, In a meantime if you have any questions or requirements details you can revert on this email itself so that based on it we can quickly schedule our discussion or conversation on it. 
Also, you can schedule a meeting to discuss your specific requirements, here is the calendly link, kindly book your slot as per your convenience, so that we can connect with you to have a more precise conversation regarding your requirement.
                                        </p>
                                       
                                        <p style=" margin-top: 0px;">
                                         <a href="https://calendly.com/infosense-business-trip/30?month=2023-10">https://calendly.com/infosense-business-trip/30?month=2023-10</a> 
                                        </p>
                                        
                                         <p style="margin-top: 0px; margin-bottom: 2px;color: #611A5F;font-weight: 600;">
                                           Looking forward to continue our discussion.   
                                        </p>
                                         <p style="margin-top: 0px; margin-bottom: 2px;color: #611A5F;font-weight: 600;">
                                          Best Regards,   
                                        </p>
                                         <p style="margin-top: 0px; margin-bottom: 2px;color: #611A5F;font-weight: 600;">
                                           Samiksha  
                                        </p>
                                       <p>
                                        <a href="www.infosense.tech">
                                           www.infosense.tech  
                                        </a>
                                        </p>

                                        <div style="margin-top:1rem;">
                                        <a  href="https://www.linkedin.com/in/samiksha-j-689527115/">https://www.linkedin.com/in/samiksha-j-689527115/</a>
                                        </div>
                                    </td> 
                                </tr>
                                <tr>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>